.button-area {
    font-family: sans-serif;
    display: flex;
    padding: 20px;
    flex-direction: row;    
    
   
}

.collection-button {
    height: 3%;
    width: 20%;
    min-height: 40px;
    min-width: 200px;
    margin: 0.5% auto;
    color: #fff;
    background-color: #042c5c;
    font-size: 16px;   
}
